{% extends 'base.html.twig' %}

{% block title %}Nouveau Ticket
{% endblock %}

{% block body %}

	<main class="container my-3">
		<section class="row">
			<div class="col">
				<h1>Nouveau ticket</h1>

				{{ include('ticket/_form.html.twig') }}

				<a href="{{ path('app_ticket_index') }}" class="btn btn-primary mt-3">Retour à la liste</a>
			</div>
		</section>
	</main>

{% endblock %}
