{% extends 'base.html.twig' %}

{% block title %}Ticket App
{% endblock %}

{% block body %}

	<h1>Bienvenue sur BarbareTicket</h1>
	<div class="container my-3">
		<div class="row">
			<aside class="col-3 border border light bg-white p-2 rounded-start-4">
				<h2>Les derniers tickets</h2>

				{% for tickets in ticket %}
					<a href="{{ path('app_show', {'id': tickets.id}) }}">
						<article class="card mb-3">
							<div class="card-header">{{ tickets.title }}</div>

							<div class="card-body">
								<h6 class="card-subtitle mb-2 text-body-secondary">
									{{ tickets.id}}
								</h6>

							</div>
						</article>
					</a>
				{% endfor %}
			</aside>
			<div class="col-9">
				{% block show %}
					<main class="col-9 border border-light bg-white p-2 rounded-end-4">
						<h2 class="text-black">Ticket séléctionné</h2>
					</main>
				{% endblock %}
			</div>
		</div>

	{% endblock %}
