<aside class="col-12 col-lg-4 border border light bg-white p-2 rounded-start-4">
	<article class="card mb-3">
		<div class="card-header">
			Tickets
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('app_ticket_index') }}" class="btn btn-info">Liste des Tickets</a>
			</p>
		</div>
	</article>
	<article class="card mb-3">
		<div class="card-header">
			Languages
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('app_language_index') }}" class="btn btn-info">Liste des languages</a>
			</p>
		</div>
	</article>
	<article class="card mb-3">
		<div class="card-header">
			Utilisateurs
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('app_user_index')}}" class="btn btn-info">Liste des utilisateurs</a>
			</p>
		</div>
	</article>
</aside>
