{# <footer class="footer bg-black text-light overflow-x-hidden">
	<div class="row text-center">
		<section class="col-12 col-sm-6 col-lg-4 my-4">
			<p>Copyright</p>
		</section>
	</div>
</footer> #}
