<footer class="container-fluid bg-secondary text-center fixed-bottom">
	<div class="row">
		<section class="col-12 col-sm-6 col-lg-4 my-4">
			<p>About</p>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
								            Quam autem voluptatibus minima at accusantium id recusandae totam eligendi veritatis ab.</p>
			<a href="#" class="btn btn-primary">About Us</a>
		</section>
		<section class="col-12 col-sm-6 col-lg-4 my-4">
			<p>Contact</p>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
								            Et dolore veritatis est autem inventore doloribus cupiditate rem beatae perspiciatis reprehenderit!</p>
			<a href="#" class="btn btn-primary">Contact</a>
		</section>
		<section class="col-12 col-sm-6 col-lg-4 my-4">
			<p>Termes</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
								            Quam nostrum pariatur quis dignissimos architecto, eos officia. Quasi in sed nesciunt?</p>
			<a href="#" class="btn btn-primary">Termes</a>
		</section>
	</div>
</footer>
