<footer class="container-fluid bg-black text-light">
	<div class="row">
		<section class="col-12 col-sm-6 col-lg-4 my-4">
			<p>About</p>
		</section>
		<section class="col-12 col-sm-6 col-lg-4 my-4">
			<p>Contact</p>
		</section>
		<section class="col-12 col-sm-6 col-lg-4 my-4">
			<p>Termes</p>
		</section>
	</div>
</footer>
