{% extends 'main/index.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block new %}

<section class="container my-5" id="shadow-container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3" id="title-gradiant">Ajouter un commentaire</h1>

            {{ include('comment/_form.html.twig') }}

            <a href="{{ path('app_main') }}" class="btn btn-info my-3">Accueil</a>
        </div>
    </div>
</section>
    
{% endblock %}
