{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}

<main class="container my-3">
    <section class="row">
        <div class="col">
            <h1>Create new Comment</h1>

            {{ include('comment/_form.html.twig') }}

            <a href="{{ path('app_comment_index') }}" >back to list</a>
        </div>
    </section>
</main>
    
{% endblock %}
